* {
    padding: 0px;
     margin: 0px;
    -moz-box-sizing: border-box;
         box-sizing: border-box;
    font-size: 14px;
}

body {
    margin-top: 50px;
}

main {
    min-height: 80.5vh;
}

fieldset {
    border: 1px solid #ddd!important;
    margin: 0;
    min-width: 0;
    padding: 10px;       
    position: relative;
    border-radius: 4px;
    background-color:#fff;
    padding-left: 10px!important;
}	

legend{
    font-size:1.2rem;
    font-weight: bold;
    margin-bottom: 0px; 
    width: 75%; 
    border: 1px solid #ddd;
    border-radius: 4px; 
    padding: 5px 5px 5px 10px; 
    background-color: #fff;
}

.fc-content {
    color: #fff!important;
}
